body {
  background: url("http://i.imgur.com/IHDlWQI.jpg?1") bottom left !important;
}

/* Header */
.header {
  background: rgba(255, 218, 101, 0.6) url("http://i.imgur.com/K7asjnH.png") no-repeat;
}

.header .logo {
  opacity: 0;
}

.maintabbarbottom {
  background:  #FFC04D;
  border-color: #B28635;
}

.tabbar a.button.notifying {
  background: #E5AC45;
  border-color: #CE9A3E;
  text-shadow: none;
}

.tabbar a.button.notifying:hover {
  background: #FFC04D;
  border-color: #B28635;
}

.tabbar a.button.cur,
.tabbar a.button.cur:hover {
  background: #FFC04D;
  border-color: #B28635;
  color: #551907;
  text-shadow: none;
}

.tabbar a.button {
  background: #FFD282;
  border-color: #B28635;
  color: #551907;
  text-shadow: none;
}

.tabbar a.button:hover {
  background: #FFC65E;
}

.tabbar .closebutton {
  color: #551907;
}

.tabbar .closebutton:hover {
  color: #551907;
}

.userbar .username {
  text-shadow: none;
}

.userbar button.icon {
  background: #FFC65E;
  border: 1px solid #B28635;
  padding: 0 4px;
  color: #551907;
  text-shadow: 0px -1px 0px #FFC04D;
}

.userbar button.icon:hover {
  background: #FFD282;
  border: 1px solid #B28635;
}

/*
Shades Of Gold Used
Light Color: #FFD282;
Dark Color: #FFC65E;
Darker Color: #FFC04D;
Border Color: #B28635;
Brownish-Maroon
Text Color: #551907;
*/

/* Roomlist */

.roomlist h2 {
  color: #00E5E5;
  text-shadow: -1px -1px 1px #000000;
}

.roomlist a.ilink {
  background: #FFC65E;
  color: #551907;
  text-shadow: none;
  border-color: #B28635;
}

.roomlist a.ilink:hover {
  background: #FFC04D;
  color: #551907;
  text-shadow: none;
  border-color: #B28635;
}

.roomcounters button {
  background: rgba(255, 255, 255, 0.4);
  border-color: #303B78;
  color: #242B58;
  text-shadow: none;
}

.roomcounters button:hover {
  background: rgba(255, 255, 255, 0.6);
  border-color: #303B78;
  color: #242B58;
  text-shadow: none;
}

.ps-room.ps-room-light {
  background: rgba(0, 0, 0, 0.50);
  border-color: black;
}
 
.ps-room.ps-room-light.scrollable {
  background: rgba(0, 0, 0, 0.50);
  border-color: black;
}
 
.ps-room.ps-room-opaque {
  background: rgba(178, 223, 247, 0.7);
}


/* Userlist */

.userlist {
  background: rgba(178, 223, 247, 0.45);
  border-right: 1px solid #252F3F;
}

.userlist li {
  background-color: rgba(244, 244, 244, 0.8);
  border-bottom-color: #AAA;
}

.userlist li button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.userlist li em.group {
  color: #252F3F;
}

.userlist li button:hover {
    background:rgba(244, 244, 244, 0.5)
}

/* Chat-Log */
 
.chat-log {
  background: rgba(255, 247, 251, 0.8) url("http://i.imgur.com/o037TX2.png?2") top right no-repeat ;
}

.chat-log-add {
  background: rgba(178, 223, 247, 0.45);
  border-top: 1px solid #252F3F;
}

.chat-log a, .pm-log a {
  color: #0500A5;
}

.chat-log a:visited, .pm-log a:visited {
  color: #162055;
}

/* Menu-Group */

.menugroup {
  background: rgba(225, 225, 225, 0.5);
  color: #000000;
  text-shadow: 2px 2px 5px #3c3c3c;
  border: 1px solid black;
}

.menugroup .button {
  background: #FFC04D !important;
  border-color: #B28635 !important;
  color: #551907 !important; 
  text-shadow: none;
}

.menugroup .button:hover {
  background: #FFD282 !important;
  border-color: #B28635 !important;
  color: #551907 !important;
  text-shadow: none;
}

.menugroup .select {
  background: rgba(225, 225, 225, 0.6);
  border-color: #000000 !important;
  color: #000000 !important;
  text-shadow: none;
  box-shadow: none !important;
}

.menugroup .select:hover {
  background: rgba(225, 225, 225, 0.5);
}

.menugroup .select:disabled {
  background: rgba(220, 249, 255, 0.35);
}
 
/* Battle */

.ps-room .battle-controls {
  background: rgba(0, 0, 0, 0);
}
 
.battle-log {
  background: url("http://i.imgur.com/If1aM3Q.png");
  border-color: #B28635;
}

.message-error {
  border: 1px solid #A60000;
  background: #FFB2B2;
  color: #A60000;
  margin-bottom: 1px;
  padding: 3px;
}

.battle-log .chat {
  padding: 3px 1px;
}

.battle-log h2 {
  text-align: right;
  font-style: italic;
  border-color: #B28635;
  background: #FFD282;
  color: #551907;
}

.battle-log-add {
  background: #FFD282;
  border: 1px solid #B28635;
  color: #551907;
}

.battle {
  border-color: #B28635;
}

.battle-log .rated strong {
  background: #FFD282;
}

.battle-log .chat strong {
  color: #FFD282;
}

.rightbar, .leftbar {
  border-color: #FFC04D;    
  background: rgba(255, 192, 77, 0.5);
}

.trainer strong {
  color: #800000;
  text-shadow: -1px -1px 1px #FF7F7F;
  padding: 5px;
}

.trainer div {
  opacity: 1;
}

/* New CSS Design Done Till here */

/* PM-Window */

.pm-window h3 small {
  color: #000000;
}

.pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
  color:  #000000;
}

.pm-window h3 .closebutton:hover {
  color:#000000;
}

.pm-window h3 .minimizebutton:hover {
  color: #000000;
}

.pm-window h3 .closebutton:hover + .minimizebutton {
  color: #000000 !important;
}

.message-pm {
  color:  #000000;
}

.pm-window h3.pm-notifying:hover {
  background: #FFDA80;
  border-color: #B28635;
  text-shadow: none;
  color: #551907;
}

.pm-window h3 {
  background: rgba(255, 218, 128, 0.7) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/amaura.png") bottom right no-repeat;
  background-position: 225px;
  border: 1px solid #000000;
  color: #000000;
  text-shadow: none;
  box-shadow: inset 1px 1px 2px #FFDA80;
}

.pm-window h3:hover {
  background: rgba(255, 209, 98, 0.7) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/aurorus.png") bottom right no-repeat;
  background-position: 225px;
  color: #000000;
  text-shadow: none;
  box-shadow: inset 1px 1px 2px #FFD162;
}

.pm-window.focused h3,
.pm-window.focused h3:hover {
  background: rgba(255, 203, 76, 0.8) url("http://pldh.net/media/pokecons_action/478.gif") bottom right no-repeat;
  background-position: 225px;
  border: 1px solid #000000;
  color: #C50202;
  text-shadow: -1px -1px 1px #000000;
  box-shadow: inset 1px 1px 2px #FFD162;
}

.pm-log, .pm-window.focused .pm-log {
  border-color: #000000;
}

/* Misc */

.astext{
  border: none;
  background: none;
  font-family: Verdana,sans-serif;
  font-size: 12px;
  cursor: pointer;
}
  
.closebutton, .minimizebutton {
  color: #413B45;
}

.closebutton:hover, .minimizebutton:hover {
  color: #000;
}

.ps-popup {
  background: #FFDB46;
  border: 1px solid #B28635;
}

.credits h2 {
  color: #2D3459;
}

a.subtle, .credits ul li p, .credits ul {
  color: #37348E;
}

.popupmenu h3 {
  color: #329fb2;
}

.ps-popup a, .ps-popup a.ilink {
  color: #37348E;
}

.ps-popup a.ilink:hover {
  color: #66ccff;
}

.avatarlist button {
  border: 1px solid #FFDB46;
}

.avatarlist button:hover {
  border: 1px solid #444;
  background-color: #FFDB46;
}

.ps-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.ps-popup .buttonbar button {
  background: #EEE;
  border: 1px solid #AAA;
  padding: 2px 4px;
}

.ps-popup .buttonbar button:hover {
  background: #EEE;
  border: 1px solid #777;
}

.broadcast-blue {
	background: #FFCC70;
  border: 1px solid #996300;
	color: #996300;
  margin-bottom: 1px;
 	padding: 3px;
}

.broadcast-red {
  border: 1px solid #A60000;
  background: #FFB2B2;
  color: #A60000;
  margin-bottom: 1px;
  padding: 3px;
}

.broadcast-green {
  background: #77EE47;
  border: 1px solid #1E581E;
  color: #1E581E;
  margin-bottom: 1px;
  padding: 3px;
}

/* User Icons */
